<template>
  <div class="header">
    <!-- Start: Header -->
    <header class="container d-flex header">
      <div class="header-logo">
        <a href="/"> <img src="@/assets/images/logo.png" alt="logo"/></a>
      </div>
      <div class="header-wrap__menu d-flex">
        <div class="header-wrap__menu d-flex">
          <div class="header-menu--top d-flex">
            <a class="header-link" href="#" title="Tuyển dụng">Tuyển dụng </a>
            <a class="header-link" href="#" title="Liên hệ">Liên hệ </a>
          </div>
          <div class="header-menu--bottom">
            <nav
              class="header-menu wow fadeInDown"
              data-wow-delay="1s"
              style="animation-delay: 1s; animation-name: fadeInDown"
            >
              <ul class="menu d-flex">
                <li
                  class="litop dropdown"
                  v-for="(item, index) in navMenu"
                  :key="index"
                >
                  <nuxt-link tag="a" :to="item.href" :title="item.title" v-text="item.title"
                    :class="{ active: $route.path === item.href ? true : false }"
                  />
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End: Header -->
  </div>
</template>
<script>
import { constants } from "@/constants/index";
export default {
  data() {
    return {
      navMenu: constants.navMenu
    };
  }
};
</script>
<style scoped>
.active {
  color: #1894d2;
}
</style>
