<template>
  <div>
    <!-- Start: Breadcrumb -->
    <div class="breadcrumb-wrap">
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item home"><a href="/" title="Trang chủ"><i class="fa fa-home"></i>Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="#" title="Tin tức - sự kiện">Tin tức - sự kiện</a></li>
          <li class="breadcrumb-item"><a href="#" title="Tin tức hoạt động">Tin tức
            hoạt động</a></li>
        </ol>
      </nav>
    </div>
    <!-- End: Breadcrumb -->

    <!-- Start: Aboutus Details -->
    <div class="layout">
      <div class="container">
        <main class="post-1">
          <h1 class="post-title" v-text="newsCard[0].title"></h1>
          <div class="post-entry">
            <div class="post-date">
              {{newsCard[0].date}} - {{newsCard[0].time}}
            </div>
          </div>
          <div class="post-content">
            <p class="mb-4" v-text="newsCard[0].content"></p>
            <p class="mb-4" v-for="(item,index) in newsCard[0].imageContent">
              <img class="w-100" :alt="newsCard[0].title" :src="item.image">
            </p>
            <br>
          </div>
        </main>
      </div>
    </div>
    <!-- End: Aboutus Details -->
  </div>
</template>
<script>
import {constants} from "@/constants";

export default {
  data(){
    return{
      newsCard: constants.newsCard
    }
  }
}
</script>
<style scoped>
@import "~/assets/css/news.css";
</style>
