<template>
  <nuxt-link tag="div" to="/introduction/1">
    <div
      class="item slick-slide slick-current slick-active"
      data-slick-index="3"
      aria-hidden="false"
      style="width: 548px;"
    >
      <div class="item-img">
        <span class="imgc">
          <img
            :alt="introductionPrize.title"
            class=""
            :src="introductionPrize.image"
          />
        </span>
      </div>
      <div class="item-body">
        <div class="item-title">
          {{ introductionPrize.title }}
        </div>
      </div>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: {
    introductionPrize: {
      type: Object,
      default: () => {}
    }
  },
  computed: {}
};
</script>
<style scoped>
@import "~/assets/css/news.css";
.imgc:hover img {
  transform: scale(1.05);
  border-radius: 30px !important;
}
.imgc:before {
  padding-bottom: calc(180 / 270 * 100%);
}
.imgc img {
  transition: 0.2s linear;
  border-radius: 30px;
}
</style>
