<template>
  <div class="col-lg-4 col-6">
    <div class="item video">
      <div class="item-img">
        <a href="#" :title="libraryVideo.title" class="imgc">
          <img :src="libraryVideo.video" class="" :alt="libraryVideo.title">
          <div class="item-icon"></div>
        </a>
      </div>
      <div class="item-body">
        <a href="#" :title="libraryVideo.title" class="item-title" v-text="libraryVideo.title"></a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
 props:{
   libraryVideo:{
     type: Object,
     default: ()=>{},
   }
 }
}
</script>
<style scoped>
@import "~/assets/css/library.css";
</style>
