<template>
    <nuxt-link tag="div" to="/news/1" >
      <div class="item">
        <div class="item-img">
          <a href="#" :title="newsCard.title" class="imgc">
            <img :alt="newsCard.title" class=""
                 :src="newsCard.image">
          </a>
        </div>
        <div class="item-body">
          <a href="#" :title="newsCard.title" class="item-title" v-text="newsCard.title"></a>
          <div class="item-date"><i class="fa fa-calendar-alt"></i>{{newsCard.date}}</div>
          <p class="item-text" v-text="newsCard.description"></p>
        </div>
      </div>
    </nuxt-link>
</template>
<script>
export default {
  props:{
    newsCard: {
      type:Object,
      default: ()=>{},
    }
  },
}
</script>
<style scoped >
@import '~/assets/css/news.css';
</style>
