<template>
  <nuxt-link tag="div" to="/project/1" class="item">
    <div class="item-img">
      <a href="#" :title="project.title" class="imgc3">
        <img :alt="project.title" class="" :src="project.image">
      </a>
    </div>
    <div class="item-body">
      <div class="item-count">01</div>
      <a href="#" :title="project.title" class="item-title" v-text="project.title"></a>
      <p class="item-text" v-text="project.address"></p>
      <a href="#" title="Chi tiết" class="item-link">Chi tiết<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" fill="#fff"><path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg></a>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: {
    project: {
      type: Object,
      default: ()=>{},
    }
  }
}
</script>
<style scoped >
@import '~/assets/css/project.css';
</style>
