<template>
  <!-- Start: Library -->
  <div class="library-loop">
    <div class="library-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">
            <a href="#" title="Thư viện ảnh">Thư viện ảnh</a>
          </h2>
          <p class="list-text">
          </p>
        </div>
        <div class="list-body row">
          <div class="col-lg-4 col-6"  v-for="(item,index) in libraryImage" :key="index">
          <library-image-card :library-image="item"/>
          </div>
        </div>
      </div>
    </div>


    <div class="library-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">
            <a href="#" title="Thư viện video">Thư viện video</a>
          </h2>
          <p class="list-text">
          </p>
        </div>
        <div class="list-body row">
          <library-video-card :library-video="item" v-for="(item,index) in libraryVideo" :key="index"/>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Library -->
</template>

<script>
import LibraryImageCard from "@/components/card/LibraryImageCard";
import LibraryVideoCard from "@/components/card/LibraryVideoCard";
import {constants} from "@/constants";

export default {
  components: {LibraryVideoCard, LibraryImageCard},
  data(){
    return{
      libraryImage: constants.libraryImage,
      libraryVideo: constants.libraryVideo
    }
  }
}
</script>

<style scoped>
@import "~/assets/css/library.css";
</style>
