<template>
  <div class="item">
    <div class="item-img">
      <a href="#" :title="libraryImage.title" class="imgc">
        <img :alt="libraryImage.title" class="" :src="libraryImage.image">
        <div class="item-icon"></div>
      </a>
    </div>
    <div class="item-body">
      <a href="#" :title="libraryImage.title" class="item-title" v-text="libraryImage.title"></a>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    libraryImage: {
      type: Object,
      default: ()=>{},
    }
  },
}
</script>

<style scoped>
@import "~/assets/css/library.css";
</style>
