<template>
  <div class="imgc">
    <img :src="libraryImage.image" style="border-radius: 0 0 30px 0" />
    <h4 class="item-title" v-text="libraryImage.title"></h4>
  </div>
</template>
<script>
export default {
  props: {
    libraryImage: {
      type: Object,
      default: () => {}
    }
  }
};
</script>

<style scoped>
.imgc:hover img {
  transform: scale(1.05);
  border-radius: 0 !important;
}
</style>
