<template>
    <!-- Start: Section 2 -->
    <div class="project-1">
      <div class="container">
        <div class="list-header">
          <h2
            class="list-title wow fadeIn"
            data-wow-duration="2s"
          >
            <a href="#" title="Dự án đã triển khai">Dự án đã triển khai</a>
          </h2>
        </div>
        <div class="center slider">
          <VueSlickCarousel v-bind="settings">
          <div class="imgc" v-for="(item,index) in slider" :key="index">
            <img alt="alo" :src="item.image" />
          </div>
          </VueSlickCarousel>
        </div>
      </div>
    </div>
    <!-- End: Section 2 -->
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import {constants} from "@/constants";

export default {
  name: 'MyComponent',
  components: { VueSlickCarousel },
  data(){
    return{
      slider: constants.slider,
      settings:{
        "centerMode": true,
        "centerPadding": "20px",
        "focusOnSelect": true,
        "infinite": true,
        "slidesToShow": 5,
        "autoplay": true,
        "autoplaySpeed": 2000,
        "cssEase": "linear"
      }
    }
  }
}
</script>
