<template>
  <div>
    <div class="breadcrumb-wrap">
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item home"><a href="/" title="Trang chủ"><i class="fa fa-home"></i>Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="https://hod.com.vn/du-an.htm" title="Dự án">Dự án</a></li>
        </ol>
      </nav>
    </div>
    <div class="post-2">
      <div class="container">
        <h1 class="post-title">Dự án Golden Park Tower</h1>
        <div id="DisplayLoadControl_ctl00_ctl00_pnTongQuan">

          <section id="TongQuan">
            <div class="post-heading">Tổng quan</div>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <th scope="row">Địa điểm</th>
                <td>
                  Số 2 đường Phạm Văn Bạch, lô D32, ( Giao cắt giữa đường Phạm Văn Bạch và đường Dương Đình Nghệ, Cầu Giấy, Hà Nội ).
                </td>
              </tr>
              <tr>
                <th scope="row">Diện tích</th>
                <td>
                  4.576m2.
                </td>
              </tr>
              <tr>
                <th scope="row">
                  4.576m2.
                </th>
                <td>
                  2.100 tỷ đồng.
                </td>
              </tr>
              <tr>
                <th scope="row">Hạng mục đầu tư</th>
                <td>
                  Tổ hợp tòa nhà văn phòng, khách sạn và căn hộ cao cấp 45 tầng nổi và 4 tầng hầm. Trong đó có 360 căn hộ chung cư và  240 căn hộ khách sạn
                </td>
              </tr>
              <tr>
                <th scope="row">Tiến độ thực hiện</th>
                <td>
                  Dự kiến hoàn thành bàn giao công trình quý 4 năm 2020
                </td>
              </tr>
              </tbody>
            </table>
            <div id="chiTietTongQuan">
              <div class="post-content">
                <div>
                  Dự án Golden Park Tower nằm tại dự án khu nhà ở và công trình công cộng Yên Hòa, Phố Dương Đình Nghệ - Phường Yên Hòa - Quận Cầu Giấy - TP. Hà Nội được xây dựng trên khu đất hơn 4.000 m2 là một trong những dự án có vị trí đặc biệt nhất trong khu quy hoạch đô thị mới Cầu Giấy, phía Tây Trung tâm Hà Nội, nơi hiện đang là hướng phát triển mạnh của Thủ đô Hà Nội, với nhiều khu nhà ở cao cấp, khu văn phòng, trung tâm thương mại, các cơ sở dịch vụ đa dạng, nằm trong quần thể đô thị năng động, sầm uất nhất Thủ đô Hà Nội.<br>
                  <br>
                  &nbsp;</div>
                <div style="text-align: center;">
                  <img alt="" src="@/assets/images/home_slide4.jpg" style="width: 800px !important; height: auto !important;"></div>
              </div>
            </div>
          </section>
        </div>
        <div id="DisplayLoadControl_ctl00_ctl00_pnViTri">
          <section id="ViTri">
            <div class="post-heading">Vị trí dự án</div>
            <div class="post-content">
              Dự án tòa lạc tại vị trí đắc địa tại trung tâm đô thị mới phía Tây Nam thành phố Hà Nội. Với 5-10 phút di chuyển từ dự án, quý khách có thể tiếp cận các tuyến giao thông cao tốc Hà Nội – Lào Cai, Hà Nội – Hải Phòng, Hà Nội – Lạng Sơn, Láng – Hòa Lạc. Dự án cách cảng hàng không quốc tế Nội Bài 22km, cách Hồ Gươm trung tâm phố cổ của thành phố Hà Nội 6.8km, cách trung tâm Hội nghị Quốc Gia 1.5km. Trong bán kính 1km là hệ thống các trường quốc tế trong nước chất lương cao từ cấp mần non đế các trường đại học .<br>
              Golden Park Tower có vị trí hóc ngã tư đường hai mặt tiếp giáp phố Dương Đình Nghệ và phố Phạm Văn Bạch nằm trong quần thể các công trình kiến trúc hiện đại. với chiều cao công trình là 173.150m đứng thứ 5 Hà Nội ( năm 2017 ) tòa nhà Golden Park với thiết kế độc đáo, hiện đại sẽ là điểm nhấn quan trọng trong khu vực<br>
              <br>
            </div>
          </section>
        </div>
        <div id="DisplayLoadControl_ctl00_ctl00_pnMatBang">
          <section id="MatBang">
            <div class="post-heading">Mặt bằng</div>
            <div class="post-content">
              Dự án Golden Park được xây dựng trên khu đất có diện tích 4.756m2 với diện tích xây dựng là 2.0598m2, mật độ xây dựng là 45% , diện tích còn lại là khu vực sân vườn cảnh quan cây xây kết hợp sân chơi cho trẻ em. Bố trí dải không gian sân vườn cây xanh tạo khoảng cách hợp lý và không gian kiến trúc cảnh quan hài hòa với thiên nhiên và khu xây dựng xung quanh. Phí tiếp giáp đường nội bộ của khu bố trí các lối vào công trình, hai bên đường nội bộ trồng cây bóng mát tạo không gian nghỉ ngơi vừa cải thiện điều kiện khí khậu<br>
              Dự án bao gồm các hạng mục chính sau: một tháp 45 tầng nổi và 4 tầng hầm trong đó<br>
              + Tầng 1 chức năng thương mai dịch vụ, sảnh chung cư, sảnh văn phòng, sảnh khách sạn<br>
              + Tầng 2-7 chức năng dịch vụ thương mại, văn phòng<br>
              + Tầng 8 chức năng dịch vụ: café, phòng tập, bể bơi, kỹ thuật<br>
              + Tầng 9-31 chức năng căn hộ ở, mỗi tầng 16 căn hộ<br>
              + Tầng 32 chức năng khách sạn, các phòng phụ vụ khách sạn, nhà hàng, phòng họp đa năng<br>
              + Tầng 33 – 44 chức năng phòng khách sạn, mỗi tầng 20 phòng khách sạn<br>
              + Tầng 45 chức năng nhà hàng, café, bể bơi<br>
              <div class="heading-4">1, Mặt bằng căn hộ chung cư</div>
              <br>
              <img alt="" src="@/assets/images/project_image1.jpg" style="width: 1337px !important; height: auto !important;"><br>
              <br>
              <div class="heading-4">2, Mặt bằng căn hộ khách sạn</div>
              <br>
              <div style="text-align: right;">
                <img alt="" src="@/assets/images/project_image2.jpg" style="width: 1366px !important; height: auto !important;"></div>
            </div>
          </section>
        </div>
        <a href="#" title="Liên hệ để chúng tôi tư vấn cho bạn ngay bây giờ" class="post-contact">Liên hệ để chúng tôi tư vấn cho bạn ngay bây giờ</a>
      </div>
    </div>
  </div>
</template>
