<template>
  <div>
    <!-- Start: Introduction body -->
    <div class="breadcrumb-wrap">
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item home">
            <a href="/" title="Trang chủ"
              ><i class="fa fa-home"></i>Trang chủ</a
            >
          </li>
          <li class="breadcrumb-item">
            <a href="https://hod.com.vn/gioi-thieu.htm" title="Giới thiệu"
              >Giới thiệu</a
            >
          </li>
        </ol>
      </nav>
    </div>

    <!-- Thông điệp của Chủ tịch HĐQT -->

    <!-- Thông điệp của Chủ tịch HĐQT -->
    <!-- Section 1: Introduction -->
    <div class="aboutus-7">
      <div class="container">
        <div class="list-header">
          <h1 class="list-title">Thông điệp của Chủ tịch HĐQT</h1>
        </div>
        <div class="list-body">
          <div class="list-img">
            <div class="imgc">
              <img
                alt="Thông điệp của Chủ tịch HĐQT"
                class=""
                src="https://hod.com.vn/pic/banner/HMT_0_637118454143849816.jpg"
              />
            </div>
          </div>
          <div class="list-text">
            <div style="text-align: justify">
              Kính gửi: <strong>Quý khách hàng!</strong><br />
              <br />
              Thay mặt tập thể lãnh đạo và cán bộ, nhân viên&nbsp;Công ty cổ
              phần Đầu tư Phát triển nhà Constrexim (<span
                class="font-weight-bold"
                >CONSTREXIM </span
              ><span class="font-weight-bold">-</span>
              <span class="font-weight-bold">HOD</span>), Tôi xin gửi đến các cơ
              quan, các địa phương, các đối tác đồng nghiệp, khách hàng nơi thực
              hiện các dự án đầu tư bất động sản của&nbsp;<span
                class="font-weight-bold"
                >CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >&nbsp;lời chào trân trọng và lời kính chúc sức khỏe.<br />
              <br />
              <span class="font-weight-bold">CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >, là đơn vị có nhiều kinh nghiệm hoạt động trong lĩnh vực kinh
              doanh bất động sản, đầu tư xây dựng, quản lý vận hành, khai thác
              các khu đô thị mới, nhà ở, văn phòng cho thuê, thi công các công
              trình xây dựng dân dụng, công nghiệp, giao thông, xuất nhập khẩu
              thiết bị, vật tư xây dựng... Thực hiện chủ trương của Nhà nước về
              giải quyết nhu cầu nhà ở, văn phòng, khu thương mại và các công
              trình hạ tầng xã hội,&nbsp;<span class="font-weight-bold"
                >CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >&nbsp;đã và đang đầu tư xây dựng, quản lý vận hành nhiều dự án
              tại địa bàn thành phố Hà Nội, tỉnh Hải Dương cũng như tại các địa
              phương khác trên phạm vi toàn quốc.<br />
              <br />
              Trong quá trình hơn 10 năm hoạt động, quản lý vận hành theo mô
              hình Công ty cổ phần, thương hiệu&nbsp;<span
                class="font-weight-bold"
                >CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >&nbsp;đã được khẳng định, đảm bảo vị thế và uy tín trên thương
              trường nói chung và trong ngành kinh doanh bất động sản nói riêng.
              Mục tiêu&nbsp;<span class="font-weight-bold">CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >&nbsp;đang hướng đến là tập trung mọi nỗ lực để phát triển nguồn
              nhân lực chất lượng cao, nâng cao tiềm lực tài chính, ứng dụng
              công nghệ hiện đại, phát triển dự án có chất lượng, hiệu quả để
              giữ vững vị trí trong số 100 doanh nghiệp kinh doanh bất động sản
              hàng đầu của Việt Nam. Với lòng tri ân sâu sắc đối với sự ủng hộ
              và quan tâm mà quý vị đã dành cho&nbsp;<span
                class="font-weight-bold"
                >CONSTREXIM </span
              ><span class="font-weight-bold">-</span>&nbsp;<span
                class="font-weight-bold"
                >HOD</span
              >, chúng tôi cam kết luôn cố gắng cung cấp những sản phẩm và dịch
              vụ tốt nhất và tin tưởng sẽ tiếp tục nhận được sự hợp tác quý báu,
              có hiệu quả của quý vị&nbsp;trong thời gian sắp tới theo đúng giá
              trị cốt lõi đã đề ra <em><strong>"</strong></em
              ><strong
                ><span class="font-weight-bold">CONSTREXIM </span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                  >HOD&nbsp;</span
                >hợp tác bền vững cùng phát triển"</strong
              >.
            </div>
            <div style="text-align: justify">
              <br />
              Xin trân trọng cảm ơn Quý vị.
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- Section 1: Introduction -->

    <!-- Section 2: Introduction -->
    <div class="aboutus-1 style-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">Câu chuyện CONSTREXIM - HOD</h2>
        </div>
        <div class="list-body">
          <div class="sublist-1">
            <div class="imgc">
              <img alt="alo" src="https://i.ytimg.com/vi/qvh0nSTC_b8/0.jpg" class="" />
              <iframe
                src="https://www.youtube.com/embed/qvh0nSTC_b8?&amp;autoplay=0"
                frameborder="0"
                allow="autoplay; encrypted-media"
                allowfullscreen=""
              ></iframe>
              <button
                onclick="playVideo(this, event)"
                class="play"
              ></button>
            </div>
          </div>
          <div class="sublist-2">
            <div class="imgc">
              <img
                alt="Câu chuyện CONSTREXIM - HOD"
                class=""
                src="https://hod.com.vn/pic/banner/13na_637065772328154286.png"
              />
            </div>
            <div class="gt_home">
              <div
                class="text"
                style="
                  max-height: 155px;
                  overflow: hidden;
                  display: inline-block;
                "
              >
                <div style="text-align: justify">
                  Trải qua quá trình phát triển trên cơ sở ổn định và tăng
                  trưởng bền vững, đến nay Công ty cổ phần Đầu tư Phát triển nhà
                  Constrexim đã khẳng định được uy tín và thương hiệu trên thị
                  trường bất động sản.&nbsp;<br />
                  <span style="color: #333"
                    ><strong
                      ><span class="font-weight-bold"
                        >VƯỢT KHÓ KHĂN</span
                      ></strong
                    ></span
                  ><br />
                  Tiền thân là Ban kinh doanh nhà được thành lập ngày
                  15/12/2000, sau đó là Trung tâm Đầu tư kinh doanh Phát triển
                  nhà (2002), Công ty kinh doanh phát triển nhà Constrexim (năm
                  2004) - Công ty là doanh nghiệp Nhà nước thuộc Tổng Công ty
                  Đầu tư Xây dựng và Thương mại Việt Nam (Constrexim Hodding) -
                  Bộ Xây dựng. Ngày 01/02/2007, Công ty thực hiện cổ phần hóa và
                  chuyển sang quản lý, vận hành theo mô hình Công ty cổ phần với
                  tên gọi mới là Công ty Cổ phần Đầu tư Phát triển nhà
                  Constrexim viết tắt là&nbsp;<span class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >, những ngày đầu mới thành lập đơn vị còn gặp rất nhiều khó
                  khăn trên mọi phương diện: thiếu thốn về cơ sở vật chất, thiếu
                  cán bộ có chuyên môn nghiệp vụ. Trên thực tế, trong những năm
                  đầu các đơn vị thành viên của Tổng Công ty Constrexim nói
                  chung và&nbsp;<span class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;nói riêng, chưa đơn vị nào tham gia vào lĩnh vực đầu tư
                  kinh doanh nhà, bởi kinh doanh nhà là ngành mới và có tính
                  chất đặc thù của sự kết hợp đa ngành đa lĩnh vực, các cán bộ
                  hầu như chưa ai có kinh nghiệm và chưa ai được đào tạo chuyên
                  sâu theo chuyên ngành này. Tuy nhiên vì trách nhiệm trước
                  nhiệm vụ được giao vì tương lai phát triển của đơn vị, tập thể
                  cán bộ, nhân viên&nbsp;<span class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;đã cố gắng không quản khó khăn, vất vả, tận dụng cơ hội
                  vượt qua thách thức, đoàn kết đồng lòng, phấn đấu vươn lên học
                  hỏi và trao dồi tích lũy kinh nghiệm để thực hiện có kết quả
                  các dự án; đến nay mọi hoạt động của Công ty đã ổn định, bộ
                  máy tổ chức của Công ty đã được kiện toàn.&nbsp;&nbsp;<br />
                  Sau hơn 13 năm tổ chức hoạt động theo mô hình Công ty cổ phần
                  đã đem lại cho đơn vị nhiều kinh nghiệm và bài học bổ ích trên
                  tất cả các phương diện từ tổ chức bộ máy nhân sự, công tác
                  quản trị doanh nghiệp, hoạt động tài chính, tổ chức và quản lý
                  đầu tư trực tiếp, lựa chọn giải pháp đầu tư, lựa chọn sản phẩm
                  và phân khúc thị trường…<br />
                  <span style="color: #333"
                    ><strong
                      ><span class="font-weight-bold"
                        >HƯỞNG TRÁI NGỌT</span
                      ></strong
                    ></span
                  ><br />
                  Bên cạnh đó, bằng những mối quan hệ được tạo dựng trên thương
                  trường và quyết tâm cao trong tổ chức thực hiện, Công ty đã
                  được các cấp ngành; các địa phương nơi đơn vị triển khai thực
                  hiện các dự án bất động sản hỗ trợ, tạo điều kiện thuận lợi
                  trong quá trình triển khai thực hiện và đặc biệt là các đối
                  tác, các khách hàng tin tưởng ủng hộ để các dự án được thành
                  công, đạt hiệu quả cả về kinh tế và xã hội.<br />
                  Sau hơn 13 năm hoạt động, Công ty đã thực hiện&nbsp; các dự án
                  lớn điển hình là: Dự án tổng kho tại huyện Đông Anh - TP. Hà
                  Nội với trên 20.000m2; Dự án đô thị mới khu dân cư Hồ Mật Sơn,
                  Trung tâm thương mại&nbsp;<span class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;tại thành phố Chí Linh - Hải Dương có tổng diện tích
                  trên 40 ha; Dự án Khu đô thị sinh thái Chí Linh có tổng diện
                  tích 120 ha; Dự án nhà ở tại 409 Tam Trinh, quận Hoàng Mai,
                  thành phố Hà Nội; Dự án tòa tháp đôi CT1 - CT2 (GREEN PARK)
                  tại phố Dương Đình Nghệ, quận Cầu Giấy, TP. Hà Nội cao 25 tầng
                  với gần 400 căn hộ chất lượng cao; Dự án tòa nhà Golden Park
                  phố Dương Đình Nghệ, quận Cầu Giấy, TP. Hà Nội cao 45 tầng với
                  gần 400 căn hộ và gần 300 căn hộ khách sạn đạt tiêu chuẩn 4
                  sao.v.v…
                </div>
                <div style="text-align: justify">
                  Tất cả các dự án đầu tư đều đạt được 04 mục tiêu lớn Công ty
                  đề ra:
                  <em
                    >An toàn về lao động; Bảo đảm chất lượng cao; Về trước tiến
                    độ; Hiệu quả về kinh tế và xã hội.</em
                  ><br />
                  <span style="color: #333"
                    ><strong
                      ><span class="font-weight-bold"
                        >ĐÓN TƯƠNG LAI</span
                      ></strong
                    ></span
                  ><br />
                  Có thể nói, việc đi trước đón đầu là một bí quyết cũng như
                  chiến lược kinh doanh luôn được&nbsp;<span
                    class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;áp dụng cho tất cả các lĩnh vực, đặc biệt là mảng kinh
                  doanh bất động sản. Chính vì thế, hiện nay khi nhiều doanh
                  nghiệp bất động sản khác còn đang do dự trong các quyết định
                  đầu tư thì Công ty đã bắt tay ngay vào chuẩn bị triển khai một
                  số dự án lớn.<br />
                  Bí quyết “Chìa khóa của sự thành công” của&nbsp;<span
                    class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;qua các dự án bất động sản có thể gói gọn như sau: “Xóa
                  bỏ tâm lý làm giả ăn thật” bằng việc tạo dựng uy tín và niềm
                  tin cho các đối tác và khách hàng qua các sản phẩm ra thị
                  trường là thực hiện đúng các cam kết:
                  <em>Chất lượng và tiến độ.</em><br />
                  Ngoài ra, với quan điểm muốn trở thành một Công ty mạnh có uy
                  tín và vị thế trên thị trường cần phải có bản sắc văn hóa cho
                  riêng mình và phải giữ được chữ tín với khách hàng, Công ty đã
                  chú trọng đến chất lượng nguồn nhân lực, ứng dụng khoa học
                  công nghệ tiên tiến trong sản xuất kinh doanh để nâng cao chất
                  lượng và hạ giá thành sản phẩm của các công trình. Chính vì
                  vậy trong những năm gần đây tên tuổi của Công ty&nbsp;<span
                    class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;luôn gắn chặt với các dự án, công trình và luôn được
                  khách hàng, người dân tín nhiệm.<br />
                  13 năm chưa phải là quãng thời gian dài đối với tuổi đời của
                  một doanh nghiệp, song những gì mà&nbsp;<span
                    class="font-weight-bold"
                    >CONSTREXIM&nbsp;</span
                  ><span class="font-weight-bold">-</span>&nbsp;<span
                    class="font-weight-bold"
                    >HOD</span
                  >&nbsp;có được đã không phụ sự nỗ lực không mệt mỏi của ban
                  lãnh đạo cùng hàng trăm cán bộ, công nhân viên của Công ty; sự
                  an tâm tin tưởng của khách hàng trong mỗi dự án, sản phẩm, căn
                  nhà chính là món quà vô giá đối với Công ty.<br />
                  &nbsp;
                </div>
              </div>
              <a
                class="btOpenClose"
                href="#"
                data-alt="Thu gọn"
                >Xem thêm</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section 2: Introduction -->

    <!-- Section 3: Introduction -->
    <div class="aboutus-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">Lịch sử hình thành</h2>
        </div>
        <div class="list-body d-flex">
          <history-introduction
            :history-introduction="item"
            v-for="(item, index) in historyIntroduction"
            :key="index"
          />
        </div>
      </div>
    </div>
    <!-- Section 3: Introduction -->

    <!-- Section 4: Introduction -->
    <div class="aboutus-3 d-flex">
      <div class="sublist-1">
        <div class="sublist-background imgc">
          <img
            alt="Sứ mệnh"
            class=""
            src="https://hod.com.vn/pic/banner/sumen_637065774767412249.jpg"
          />
        </div>
        <div class="sublist-info">
          <div class="sublist-title">Sứ mệnh</div>
          <div class="sublist-text">
            Trở thành thương hiệu quốc gia Việt Nam trong lĩnh vực đầu tư, kinh
            doanh bất động sản. Kinh doanh dựa trên tôn chỉ
            <strong>“Hợp tác bền vững cùng phát triển”</strong>.<br />
            <br />
          </div>
        </div>
      </div>
      <div class="sublist-2">
        <div class="sublist-background imgc">
          <img
            alt="Tầm nhìn"
            class=""
            src="https://hod.com.vn/pic/banner/tamnhi_637065774672693293.jpg"
          />
        </div>
        <div class="sublist-info">
          <div class="sublist-title">Tầm nhìn</div>
          <div class="sublist-text">
            Đã, đang và sẽ là nhà đầu tư, kinh doanh bất động sản chuyên nghiệp,
            có uy tín, hoạt động vì lợi ích và sự hài lòng của khách hàng và nhà
            đầu tư<br />
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- Section 4: Introduction -->

    <!-- Section 5: Introduction -->
    <div class="aboutus-6 style-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">Giải thưởng</h2>
        </div>
        <div class="sublist-body slick-slider slick-initialized">
          <VueSlickCarousel v-bind="settings">
            <introduction-prize-card
              :introduction-prize="item"
              v-for="(item, index) in introductionPrize"
              :key="index"
            />
          </VueSlickCarousel>
        </div>
      </div>
    </div>
    <!-- Section 5: Introduction -->

    <!-- Section 6: Introduction -->
    <div class="aboutus-6 style-2" style="background-color: #fff;">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">trách nhiệm công đồng</h2>
        </div>
        <div class="sublist-body slick-slider slick-initialized">
          <VueSlickCarousel v-bind="settings">
            <introduction-prize-card
              :introduction-prize="item"
              v-for="(item, index) in introductionCommunity"
              :key="index"
            />
          </VueSlickCarousel>
        </div>
      </div>
    </div>
    <!-- Section 6: Introduction -->
  </div>
</template>
<script>
import HistoryIntroduction from "@/components/history/HistoryIntroduction";
import IntroductionPrize from "@/components/card/IntroductionPrizeCard";
import { constants } from "@/constants";

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
export default {
  components: { HistoryIntroduction, IntroductionPrize, VueSlickCarousel },
  data() {
    return {
      historyIntroduction: constants.historyIntroduction,
      introductionPrize: constants.introductionPrize,
      introductionCommunity: constants.introductionCommunity,
      settings: {
        infinite: true,
        dots: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: "linear",
        arrows: false
      }
    };
  }
};
</script>

<style scoped>
@import "~/assets/css/introduction.css";
</style>
