.btOpenClose {
  display: inline-block;
  padding: 0 25px;
  color: white;
  background-color: #e91f27;
  text-transform: uppercase;
  line-height: 36px;
  border-radius: 18px;
  font-weight: bold;
}
.btOpenClose:hover {
  color: white;
  background-color: #1894d2;
}

.imgc,
.imgc0 {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.breadcrumb-wrap {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.breadcrumb-wrap .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item a {
  font-size: 16px;
  line-height: 21px;
  transition: 0.2s linear;
  color: #333;
  font-weight: 600;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item a li {
  margin-right: 4px;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item a i {
  display: none;
}
.breadcrumb-wrap .breadcrumb .breadcrumb-item:hover a {
  color: #1894d2;
}

.aboutus-7 {
  padding-top: 67px;
  padding-bottom: 0;
}
.aboutus-7 .list-header {
  text-align: center;
  margin-bottom: 30px;
}
.aboutus-7 .list-header .list-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  color: #1894d2;
  text-transform: uppercase;
}
.aboutus-7 .list-body {
  display: flex;
}
.aboutus-7 .list-body .list-img {
  width: 500px;
  flex-shrink: 0;
  margin-right: 16px;
}
.aboutus-7 .list-body .list-img .imgc {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.aboutus-7 .list-body .list-img .imgc :before {
  padding-bottom: calc(660 / 442 * 100%);
  display: block;
  content: "";
}
.aboutus-7 .list-body .list-img .imgc img {
  transition: 0.3s ease;
  width: 100%;
  object-fit: cover;
}
.aboutus-7 .list-body .list-img :hover img {
  transform: scale(1.05);
}
.aboutus-7 .list-body .list-text {
  flex-grow: 1;
  line-height: 24px;
  margin-top: -7px;
}

.aboutus-1.style-2 {
  background-color: #f9f9f9;
  padding: 44px 0;
}
.aboutus-1.style-2 .list-header {
  margin-bottom: 44px;
  text-align: center;
}
.aboutus-1.style-2 .list-header .list-title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #1894d2;
}
.aboutus-1.style-2 .list-body {
  flex-direction: row-reverse;
  display: flex;
}
.aboutus-1.style-2 .list-body .sublist-1 {
  width: 400px;
  margin-left: auto;
  line-height: 26px;
}
.aboutus-1.style-2 .list-body .sublist-1 .imgc {
  border-radius: 0 20px 0 20px;
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.aboutus-1.style-2 .list-body .sublist-1 .imgc:before {
  padding-bottom: calc(303 / 400 * 100%);
  display: block;
  content: "";
}
.aboutus-1.style-2 .list-body .sublist-1 .imgc img {
  transition: 0.3s ease;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-1.style-2 .list-body .sublist-1 .imgc:hover img {
  transform: scale(1.05);
}
.aboutus-1.style-2 .list-body .sublist-1 iframe {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-1.style-2 .list-body .sublist-1 .play {
 border: none;
  width: 66px;
  height: 66px;
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 33px);
  z-index: 4;
  background: url("../images/play.png") no-repeat center, #1894d2;
  background-size: 36%;
  background-position-x: 55%;
  border-radius: 50%;
}
.aboutus-1.style-2 .list-body .sublist-1 .play:hover {
  background-color: #e91f27;
}
.aboutus-1.style-2 .list-body .sublist-2 {
  margin-left: 0;
  margin-right: auto;
  width: calc(100% - 444px);
  margin-left: auto;
  line-height: 26px;
}
.aboutus-1.style-2 .list-body .sublist-2 .imgc {
  margin-bottom: 35px;
  width: 344px;
}
.aboutus-1.style-2 .list-body .sublist-2 .imgc:before {
  padding-bottom: calc(69 / 343 * 100%);
}

.aboutus-2 {
  padding-top: 66px;
  padding-bottom: 51px;
}
.aboutus-2 .list-header {
  text-align: center;
  margin-bottom: 0;
}
.aboutus-2 .list-title {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  color: #1894d2;
  text-transform: uppercase;
}
.aboutus-2 .list-body--item {
  width: 400px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 43px;
  padding-top: 43px;
}
.aboutus-2 .list-body .item-time {
  margin-left: auto;
  margin-right: auto;
  transition: all 0.25s ease-in-out;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background: url('../images/calendar.png') no-repeat center;
  width: 117px;
  height: 119px;
}
.aboutus-2 .list-body .item-time:hover {
  transform: translateY(-10px);
}
.aboutus-2 .list-body .item-time .year {
  color: #e91f27;
  font-size: 26px;
  text-align: center;
  line-height: 24px;
  margin-top: 52px;
  margin-bottom: 10px;
  font-weight: 500;
}
.aboutus-2 .list-body .item-time .date {
  text-align: center;
  line-height: 24px;
  font-weight: 600;
  color: #e91f27;
}
.aboutus-2 .list-body .item-body .item-text {
  margin-bottom: 0;
  line-height: 24px;
  text-align: center;
}

.aboutus-3 .sublist-1 {
  width: 50%;
  position: relative;
}
.aboutus-3 .sublist-1 .sublist-info {
  right: 0;
  bottom: 50%;
  background-color: rgba(54, 173, 71, 0.8);
  padding: 20px 28px 39px;
  transition: all 0.25s ease-in-out;
  position: absolute;
  z-index: 4;
  color: #fff;
  width: 381px;
}
.aboutus-3 .sublist-1 .sublist-info:hover {
  background-color: #1894d2;
}
.aboutus-3 .sublist-2 {
  width: 50%;
  position: relative;
}
.aboutus-3 .sublist-2 .sublist-info {
  left: 0;
  top: 50%;
  background-color: rgba(209, 189, 112, 0.9);
  padding: 23px 25px 47px;
  position: absolute;
  z-index: 4;
  color: #fff;
  width: 381px;
  transition: all 0.25s ease-in-out;
}
.aboutus-3 .sublist-2 .sublist-info:hover {
  background-color: #d1bd70;
}
.aboutus-3 .imgc:before {
  display: block;
  content: "";
  padding-bottom: calc(629 / 674.5 * 100%);
}
.aboutus-3 .imgc img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus-3 .sublist-title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 9px;
}
.aboutus-3 .sublist-text {
  line-height: 22px;
}

/*# sourceMappingURL=introduction.css.map */
