.library-2{
  padding-top: 60px;
}
.library-2 .list-header {
  text-align: center;
  margin-bottom: 20px;
}
.library-2 .list-title {
  font-family: "UtmAvo";
  font-weight: bold;
  font-size: 36px;
  color: #1894d2;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.library-2 .list-title>a {
  color: #1894d2 !important;
}
.library-2 .list-title>a:hover {
  color: #e91f27 !important;
}
.library-2 .item {
  margin-bottom: 15px;
}
.library-2 .item-img {
  position: relative;
}
.library-2 .item-img:before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  background-color: rgba(176,142,66,.85);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  border-radius: 10px;
}
.library-2 .item-img .imgc {
  border-radius: 10px;
  z-index: auto;
}

.imgc, .imgc0 {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.library-2 .item-img .imgc:before {
  padding-bottom: calc(180/270*100%);
}
.imgc:before, .imgc0:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.imgc img, .imgc0 img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.library-2 .item-icon {
  width: 18px;
  height: 16px;
  left: 9px;
  bottom: 9px;
  position: absolute;
  z-index: 11;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
}
.library-2 .item-img img {
  transition: .3s ease;
}
.library-2 .item-img:hover img {
  transform: scale(1.05);
}
.library-2 .item-body {
  padding: 11px 0 17px;
}
.library-2 .item-body a{
  transition: all .25s ease-in-out !important;
  color: #333 !important;
}
.library-2 .item-body a:hover{
  text-decoration: none !important;
  color: #1894d2 !important;
}
.library-2 .item-title {
  font-weight: bold;
  line-height: 24px;
}
.library-2 .item.video .item-icon {
  width: 16px;
  left: 10px;
  bottom: 10px;
  z-index: 11;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23fff'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
}
