
.aboutus{
  padding-top: 40px;
  padding-bottom: 62px;
}
.aboutus .item-img .imgc {
  border-radius: 10px;
}
.imgc, .imgc0 {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.aboutus .item-body {
  padding: 13px 0 34px;
}
.aboutus .item-body a {
  transition: all .25s ease-in-out !important;
  color: #333 !important;
}
.aboutus .item-body a:hover {
  text-decoration: none !important;
  color: #1894d2 !important;
}
.aboutus .item-title {
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 10px;
  display: block;
}
.item-body .item-date {
  font-size: 14px;
  color: #5f6368;
  margin-bottom: 8px;
}
.aboutus .item-date i {
  font-size: 12px;
  margin-right: 5px;
}
.item-body .item-text {
  color: #333;
  line-height: 22px;
}
.aboutus .item-img .imgc:before {
  padding-bottom: calc(180/270*100%);
}
.slider imgc:before{
  padding-bottom: 100%;
}
.imgc:before, .imgc0:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.imgc img, .imgc0 img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutus .item-img img {
  transition: .3s ease;
}
.aboutus .item-img:hover img {
  transform: scale(1.05);
}
.pagination .page-item{
  margin: 2px !important;
}
.pagination .page-item .page-link{
  transition: all .25s ease-in-out !important;
  color: #333 !important;
}
.pagination .page-item .page-link:hover{
  background-color: #e91f27 !important;
  color: #fff !important;
  border-color: #e91f27;
}


/* --------------------- Aboutus Details---------------------------- */
.layout {
  margin-top: 37px;
}
.post-1 .post-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 15px;
}
.post-entry {
  border-bottom: solid 1px #eee;
  margin-bottom: 10px;
  padding: 5px 0;
}
.post-date {
  font-size: 14px;
  color: #5f6368;
  line-height: 1;
}
.post-1 .post-content {
  padding-top: 5px;
  padding-bottom: 22px;
}
.post-content {
  padding: 15px 0;
  line-height: 24px;
}
