.project-2 {
  padding-top: 56px;
  padding-bottom: 29px;
}
.project-2 .list-header {
  text-align: center;
  margin-bottom: 20px;
}
.project-2 .list-title {
  font-weight: bold;
  font-size: 36px;
  color: #1894d2;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.project-2 .list-text {
  padding-left: 64px;
  padding-right: 64px;
  color: #8c8b8b;
  line-height: 24px;
  margin-bottom: 0;
}
.project-2 .list-body {
  display: flex;
  flex-direction: column;
}
.project-2 .item {
  border: 1px solid #fff;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  display: flex;
  border-radius: 5px;
  margin-bottom: 30px;
}
.project-2 .item-img {
  width: 637px;
  flex-shrink: 0;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.project-2 .item-img .imgc:before {
  padding-bottom: calc(358/637*100%);
}
.project-2 .item-body {
  flex-grow: 1;
  padding: 27px 50px 45px;
  border-radius: 0 5px 5px 0;
}
.project-2 .item-count {
  position: relative;
  margin-bottom: 14px;
  line-height: 1;
  color: #5f6368;
  font-size: 50px;
  display: inline-flex;
}
.project-2 .item-count:after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: -15px;
  z-index: 2;
  background: url('../images/tamgiac.png') no-repeat center;
  width: 30px;
  height: 20px;
}
.project-2 .item-title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  height: 56px;
  overflow: hidden;
  color: #e91f27;
  margin-bottom: 19px;
}
.project-2 .item-text {
  line-height: 22px;
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 36px;
}
.project-2 .item-link {
  display: inline-flex;
  justify-content: center;
  transition: none;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #e91f27;
  border-radius: 999px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 8px 33px;
}
.project-2 .item-link svg {
  width: 7px;
  margin-left: 3px;
}
.project-2 .item:nth-child(even) {
  flex-direction: row-reverse;
}
.project-2 .item:hover {
  border-color: #e91f27;
}
.project-2 .item:hover img{
  transform: scale(1.05);
}
.project-2 .item:hover .item-link {
  background-color: #1894d2;
}
a:hover{
  text-decoration: none;
}

/*------------project-details-----------*/

.post-2 {
  padding-top: 54px;
  padding-bottom: 26px;
}
.post-2 .post-title {
  font-weight: bold;
  font-size: 36px;
  font-family: "UtmAvo";
  margin-bottom: 17px;
  color: #1894d2;
}
.post-2 .post-heading {
  font-weight: bold;
  font-size: 22px;
  color: #e91f27;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.post-2 .post-contact {
  display: inline-flex;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: #1894d2;
  line-height: 26px;
  padding: 9px 29px 10px;
  border-radius: 999px;
  margin-bottom: 30px;
}
.post-2 .post-contact:hover {
  background-color: #e91f27;
}
.post-2 .table th{
  margin-bottom: 0;
  font-weight: bold;
  background-color: #f5f5f5;
  line-height: 20px;
  padding: 10px 14px;
  min-width: 180px;
  width: 180px;
  flex-shrink: 0;
}
.post-2 .post-content {
  line-height: 22px;
  padding-bottom: 48px;
}
.post-content img {
  width: 100% !important;
  height: auto !important;
}
.imgc3:before {
  display: block;
  content: "";
  padding-bottom: 100%;
}
.imgc3
{
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.imgc3 img  {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease;
}
.imgc3:before {
  padding-bottom: calc(358/637*100%);
}F
.post-content img, .post-content iframe {
  max-width: 100% !important;
}
.heading-4{
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  margin: 5px 0;
}
