@media (min-width: 1400px) {
  .container {
    max-width: calc(100% - 170px) !important;
  }
}
.header-menu {
  margin-right: 83px;
  padding: 0;
  display: flex;
  align-items: center;
  height: 46px;
}
.header-menu > ul {
  justify-content: center;
  width: 100%;
}
.header-menu > ul > li > a {
  line-height: 24px;
  padding: 6px 35px;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}
.header-menu > ul > li:hover ul{
  color: #1894d2;
  display: block;
}
.header-menu > ul a {
  padding: 7px 20px;
  display: block;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}
.header-menu > ul a:hover {
  text-decoration: none;
}

/* dropdown menu */
.header-menu > ul .dropdown {
  position: relative;
}
.header-menu > ul .dropdown ul {
  left: -43px;
  display: none;
  position: absolute;
  top: 36px;
  width: 232px;
  padding-left: 6px;
  background-color: transparent;
  transition: all 0.25s ease;
  transform: translateX(50px);
}
.header-menu > ul .dropdown ul li:first-child {
  border-radius: 4px 4px 0 0;
}
.header-menu > ul .dropdown ul li:last-child {
  border-radius: 0 0 4px 4px;
}
.header-menu > ul .dropdown ul li {
  background-color: rgba(54, 173, 71, 0.9);
  color: #fff;
  /* display: none; */
}
.header-menu > ul .dropdown ul li:not(:last-child) {
  border-bottom: 1px solid #2a9a3a;
}
.header-menu > ul .dropdown ul li:hover {
  background-color: #e91f27;
  transition: 0.3s;
  display: block;
}
