* {
  box-sizing: border-box;
}
.slider {
  width: 100%;
  margin: 50px auto;
}

.slick-active {
  opacity: 1 !important;
}
.slick-slide {
  padding: 0px 5px;
}

.slick-prev:before {
  content: "←";
}
.slick-next:before {
  content: "→";
}
.slick-prev:before,
.slick-next:before {
  color: #1894d2 !important;
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
}
.slick-next {
  right: 10px !important;
  z-index: 1;
}
.slick-slide {
  transition: all ease-in-out 0.3s;
}
.slick-current {
  opacity: 1;
}

/* Project made by hoang binh slider */
.project-1 .slick-slide img {
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
  height: 600px;
}
.project-1 .slick-slide {
  flex-shrink: 0;
  overflow: hidden;
}
.project-1 .slick-slide:hover img {
  transform: scale(1.05);
}

/* Library slider */
.library-1 .slick-slide img {
  width: 100%;
  transition: 0.2s linear;
  height: 400px;
  object-fit: cover;
}
.library-1 .slick-slide .item-title {
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  color: #ffffff;
}
.library-1 .draggable:hover img {
  transform: scale(1.05);
  margin: 0 15px;
}
.library-1 .sublist-1 .sublist-body:hover {
  border-radius: 0 0 30px 0;
}

/* Introduction slider */
