* {
  font-family: sans-serif;
}
a:hover {
  text-decoration: none !important;
}

.header-logo {
  width: 120px;
  height: 83px;
  padding: 5px 0;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
.header-wrap__menu {
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}
.header .header-menu--top {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 4px;
  padding-top: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.header .header-menu--top .header-link {
  padding-top: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 15px;
}
.header .header-menu--top a {
  color: #007bff;
  transition: 0.2s linear;
  text-decoration: none;
  background-color: transparent;
}
.header .header-menu--top a:hover {
  text-decoration: none;
  color: #1894d2;
}
.header .header-menu--bottom .menu a {
  font-weight: 500;
}
.header .header-menu--bottom .menu > li:hover > a {
  color: #1894d2;
}

.background {
  position: relative;
  margin-top: -83px;
  z-index: -1;
  width: 100%;
  filter: brightness(143%);
}
.background img {
  width: 100%;
}

.home-social {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
  flex-direction: column;
  z-index: 100;
}
.home-social a {
  cursor: pointer;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1894d2;
  color: #fff;
  font-size: 16px;
  transition: 0.2s linear;
  margin-bottom: 5px;
}
.home-social a:hover {
  background-color: #e91f27;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.list-header {
  margin-bottom: 30px;
  text-align: center;
}
.list-header .list-title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  color: #1894d2;
}
.list-header .list-title a {
  transition: 0.2s linear;
  color: inherit;
}
.list-header .list-title a:hover {
  color: #e91f27;
  text-decoration: none;
  transition: 0.2s;
}

.about-us .aboutus-1 {
  padding-top: 3rem;
}
.about-us .aboutus-1 .container {
  position: relative;
  padding-bottom: 58px;
}
.about-us .aboutus-1 .sublist-1 {
  width: 400px;
}
.about-us .aboutus-1 .sublist-1 .imgc {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.2s linear;
}
.about-us .aboutus-1 .sublist-1 .imgc img {
  transition: 0.3s ease;
  z-index: 1;
  border-radius: 0 30px 0 30px;
  width: 100%;
  object-fit: cover;
}
.about-us .aboutus-1 .sublist-1 .imgc:hover img {
  transform: scale(1.05);
}
.about-us .aboutus-1 .sublist-1 iframe {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us .aboutus-1 .sublist-1 .play {
  border: none;
  width: 66px;
  height: 66px;
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
  z-index: 4;
  background-size: 36%;
  transition: 0.2s linear;
  background-position-x: 55%;
  border-radius: 50%;
  background: center, #1894d2;
}
.about-us .aboutus-1 .sublist-1 .play:hover {
  background-color: #e91f27 !important;
}
.about-us .aboutus-1 .sublist-1 .play .play-img {
  width: 40% !important;
  margin-top: calc(50% - 22px);
  border-radius: unset !important;
  margin-left: calc(50% - 18px);
}
.about-us .aboutus-1 .sublist-2 {
  width: calc(100% - 444px);
  margin-left: auto;
  line-height: 26px;
}
.about-us .aboutus-1 .sublist-2 .imgc {
  margin-bottom: 35px;
  width: 344px;
}
.about-us .aboutus-1 .sublist-2 .btOpenClose {
  display: inline-block;
  padding: 0 25px;
  color: white;
  background-color: #e91f27;
  text-transform: uppercase;
  line-height: 36px;
  border-radius: 18px;
  transition: 0.2s linear;
  font-weight: bold;
}
.about-us .aboutus-1 .sublist-2 .btOpenClose:hover {
  text-decoration: none;
  background-color: #1894d2;
}
.about-us .sublist-2 .imgc2 {
  margin-bottom: 3rem;
}
.project-1 {
  padding-top: 13px;
}

.carousel-indicators li {
  cursor: pointer;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

span.carousel-control-prev-icon {
  background-color: rgba(54, 173, 71, 0.6);
  padding: 30px 15px;
}

span.carousel-control-next-icon {
  background-color: rgba(54, 173, 71, 0.6);
  padding: 30px 15px;
}

.carousel-item img {
  filter: brightness(90%);
}

.news-1 {
  padding-top: 64px;
}
.news-1 .list-body {
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.13);
}
.news-1 .list-body .sublist-header {
  padding: 12px 20px 9px;
  border-bottom: 1px solid #e4e4e4;
}
.news-1 .list-body .sublist-header .sublist-title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #e91f27;
}
.news-1 .list-body .sublist-header .sublist-title a:hover {
  color: #e91f27;
}
.news-1 .list-body .sublist-header .sublist-title a {
  color: #1894d2;
  transition: 0.2s linear;
  text-decoration: none;
}
.news-1 .sublist-body {
  padding: 22px 18px 27px 20px;
  display: flex;
}
.news-1 .item-date-view {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  display: block;
  margin-bottom: 8px;
}
.news-1 .item-date-view i {
  font-size: 12px;
  line-height: 20px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.news-1 .sublist-left {
  width: calc((790 / 1170 * 100%) - 15px);
  overflow: hidden;
}
.news-1 .sublist-left .item {
  /*width: calc(50%);*/
  margin: 0 10px;
}
.news-1 .sublist-left .item img {
  width: 100%;
  transition: all 0.1s linear;
}
.news-1 .sublist-left .item .item-img {
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.1s linear;
}
.news-1 .sublist-left .item .item-img:hover img {
  transform: scale(1.05);
}
.news-1 .sublist-left .item-title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  max-height: 72px;
  overflow: hidden;
  margin: 10px 0 5px;
  color: #333;
  transition: all 0.2s linear;
}
.news-1 .sublist-left .item-title:hover {
  text-decoration: none;
  color: #1894d2;
}
.news-1 .sublist-right {
  width: calc((380 / 1170 * 100%) - 15px);
  margin-left: auto;
}
.news-1 .sublist-right .item:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 19px;
}
.news-1 .sublist-right .item .item-img {
  width: calc(127 / 340 * 100%);
  margin-right: 14px;
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.1s linear;
}
.news-1 .sublist-right .item .item-img .imgc:before {
  padding-bottom: calc(84 / 127 * 100%);
}
.news-1 .sublist-right .item .item-img img {
  width: 100%;
  transition: 0.1s linear;
}
.news-1 .sublist-right .item .item-img :hover img {
  transform: scale(1.05);
}
.news-1 .sublist-right .item-body {
  flex-grow: 1;
}
.news-1 .sublist-right .item-title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  max-height: 96px;
  overflow: hidden;
  margin-top: -5px;
  color: #333;
  transition: 0.1s linear;
}
.news-1 .sublist-right .item-title:hover {
  color: #1894d2;
}

.library-1 {
  padding-top: 68px;
  padding-bottom: 87px;
}
.library-1 .sublist-1 {
  width: calc((572.5 / 1170 * 100%) - 12.5px);
}
.library-1 .sublist-1 .sublist-body {
  background-color: #d1bd70;
  padding: 10px;
  border-radius: 0 0 0 30px;
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.library-1 .sublist-2 {
  width: calc((597.5 / 1170 * 100%) - 12.5px);
  margin-left: auto;
}
.library-1 .sublist-2 .sublist-body {
  border-radius: 0 30px 0 30px;
  position: relative;
  height: calc(100% - 31px);
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}
.library-1 .sublist-2 .sublist-body img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}
.library-1 .sublist-2 .sublist-body:hover {
  border-top-left-radius: 30px;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 50px;
}
.library-1 .sublist-2 .sublist-body:hover img {
  transform: scale(1.05);
}
.library-1 .sublist-2 iframe {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.library-1 .sublist-2 .play {
  background: transparent;
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
  z-index: 4;
  transition: 0.5s ease-in-out;
  /* width: 100%;
  height: 100%; */
}
.library-1 .sublist-2 .play svg:hover {
  fill: #1894d2;
}
.library-1 .sublist-header {
  padding-bottom: 5px;
}
.library-1 .sublist-title {
  color: #e91f27;
  display: flex;
  margin-bottom: 0;
  font-family: "UtmAvo";
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s linear;
  line-height: 24px;
  text-transform: uppercase;
}
.library-1 .sublist-title a {
  color: inherit;
  display: flex;
}
.library-1 .sublist-title :hover {
  color: #1894d2;
}
.library-1 .sublist-title :hover svg {
  fill: #1894d2;
}
.library-1 .sublist-title svg {
  width: 16px;
  fill: #e91f27;
  transition: all 0.1s linear;
  padding-bottom: 5px;
  margin-right: 8px;
}

.news-1 i {
  margin-right: 5px;
}
/* Introduction section 6 */
.aboutus-6 {
  /*background-color: #f1f1f1;*/
  padding: 63px 0;
}
.aboutus-6 .item-body {
  padding: 15px 0 42px;
}
.aboutus-6 .item-title {
  font-weight: bold;
  line-height: 22px;
  color: #333;
  margin-bottom: 10px;
}
/* Footer */
.footer-top {
  background: url("../images/footer_background.png") repeat-x center bottom,
    #f2f2f2;
  padding-top: 26px;
  padding-bottom: 53px;
  background-position-y: calc(100% + 20px);
}
.footer-logo {
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}
.footer-logo img {
  width: 100%;
}
.footer-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
}
.footer-desc {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 35px;
}
.footer-heading {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 15px;
  font-weight: bold;
  min-height: 30px;
}
.footer-heading:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 2px;
  z-index: 1;
  background-color: #e91f27;
}
.footer-list {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-list li {
  list-style-type: none;
  padding: 3px 0;
  font-size: 15px;
}

.breadcrumb-wrap {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.breadcrumb {
  background-color: transparent !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  padding: 6px 0 !important;
}
.breadcrumb-item a {
  transition: all 0.25s ease-in-out !important;
  color: #333 !important;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumb-item a:hover {
  text-decoration: none !important;
  color: #1894d2 !important;
}
a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */
