<template>
  <div class="list-body--item">
    <div class="item-time">
      <span class="year" v-text="historyIntroduction.year"></span>
      <span class="date" v-text="historyIntroduction.month"></span>
    </div>
    <div class="item-body">
      <p class="item-text">
                <span class="font-weight-bold" v-text="historyIntroduction.title"></span
                ><br />
        <span v-text="historyIntroduction.description">
        </span><br />
        <br />
      </p>
    </div>
  </div>
</template>
<script>
export default {
  props:{
    historyIntroduction: {
      type: Object,
      default: ()=>{}
    }
  }
}
</script>
<style scoped>
@import "~/assets/css/introduction.css";
</style>
