<template>
  <div>
    <!-- Start: Breadcrumb -->
    <div class="breadcrumb-wrap">
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item home"><a href="/" title="Trang chủ"><i class="fa fa-home"></i>Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="#" title="Tin tức - sự kiện">Tin tức - sự kiện</a></li>
        </ol>
      </nav>
    </div>
    <!-- End: Breadcrumb -->

    <!-- Start: Aboutus -->
    <div class="aboutus">
      <div class="container">
        <div class="list-body row">
          <div class="col-lg-4 col-md-6"
           v-for="(item,index) in newsCard" :key="index">
          <news-card :news-card="item" />
          </div>
        </div>
        <navigation />
      </div>
      <!-- End: Aboutus -->
    </div>
  </div>
</template>

<style scoped >
@import '~/assets/css/news.css';
</style>
<script>
import NewsCard from "@/components/card/NewsCard";
import {constants} from '@/constants'
import Navigation from "@/components/navigation/Navigation";
export default {
  components: {Navigation, NewsCard},
  data(){
    return{
      newsCard: constants.newsCard
    }
  }
}
</script>
