<template>
  <div class="footer">
    <!-- Start: Footer -->
    <footer class="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="footer-logo wow fadeIn"
                style="visibility: visible; animation-name: fadeIn"
              >
                <img alt="HOD.com.vn" src="@/assets/images/logo.png" />
              </div>
              <div
                class="footer-title wow fadeIn"
                style="visibility: visible; animation-name: fadeIn"
              >
                CÔNG TY TNHH XÂY DỰNG VÀ CƠ ĐIỆN HOÀNG BÌNH
              </div>
              <div
                class="footer-desc wow fadeIn"
                style="visibility: visible; animation-name: fadeIn"
              >
                <span class="footer-phone"><b>Điện thoại:</b> 0979.876.636</span
                ><span class="footer-dash"> - </span
              ><span class="footer-email"
              ><b>Email:</b> info@hoangbinh.com.vn</span
              >
                <br />
                <span class="footer-address"
                ><b>Địa chỉ:</b> Thôn Đoài, Xã Kim Nỗ, Huyện Đông Anh, Thành
                  phố Hà Nội</span
                >
              </div>
            </div>
            <div
              class="col-lg-4 wow fadeIn"
              style="visibility: visible; animation-name: fadeIn"
            >
              <div class="footer-heading">
                <span>
                  Công ty TNHH đầu tư xây dựng và xuất nhập khẩu Tây Đô
                </span>
              </div>
              <ul class="footer-list">
                <li>
                  <b>Địa chỉ:</b> Tầng 4, tòa nhà HH1, phố Dương Đình Nghệ,
                  phường Yên Hòa, quận Cầu Giấy, thành phố Hà Nội
                </li>
                <li><b>Điện thoại:</b> 844-378 22816</li>
                <li><b>Email:</b> info@hod.com.vn</li>
              </ul>
            </div>
            <div
              class="col-lg-4 wow fadeIn"
              style="visibility: visible; animation-name: fadeIn"
            >
              <div class="footer-heading">
                <span>
                  Công ty TNHH Một thành viên quản lý bất động sản Tây Đô
                </span>
              </div>
              <ul class="footer-list">
                <li>
                  <b>Địa chỉ:</b> Tầng 1, tòa nhà CT3, phố Dương Đình Nghệ,
                  phường Yên Hòa, quận Cầu Giấy, thành phố Hà Nội
                </li>
                <li><b>Điện thoại:</b></li>
                <li><b>Email:</b> info@hod.com.vn</li>
              </ul>
            </div>
            <div
              class="col-lg-4 wow fadeIn"
              style="visibility: visible; animation-name: fadeIn"
            >
              <div class="footer-heading">
                <span>
                  Văn phòng Ban QLDA Hồ Mật Sơn
                </span>
                </div>
              <ul class="footer-list">
                <li>
                  <b>Địa chỉ:</b> Lô số 7, Thương Mại 1 Khu dân cư Hồ Mật Sơn,
                  phường Chí Minh, thành phố Chí Linh, tỉnh Hải Dương
                </li>
                <li><b>Điện thoại:</b> 02203587018</li>
                <li><b>Email:</b> info@hod.com.vn</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End: Footer -->
  </div>
</template>
