<template>
  <div>
    <header-page />
    <background />
    <social-home />
    <main>
      <Nuxt />
    </main>
    <footer-page />
  </div>
</template>

<script>
import HeaderPage from "@/components/header/HeaderPage";
import FooterPage from "@/components/footer/FooterPage";
import Background from "@/components/background/Background";
import SocialHome from "@/components/Social/SocialHome";
export default {
  components: {SocialHome, Background, FooterPage, HeaderPage}
}
</script>
