<template>
  <div>
    <!-- Start: Contact fixed -->
    <div class="home-social">
      <a
        href="#"
        title="Facebook"
        class="wow slideInRight"
        data-wow-delay="1.5s"
        style="
          visibility: visible;
          animation-delay: 1.5s;
          animation-name: slideInRight;
        "
      ><i class="fab fa-facebook-f"></i></a
      ><a
      href="#"
      title="Hotline"
      class="wow slideInRight"
      data-wow-delay="1.8s"
      style="
          visibility: visible;
          animation-delay: 1.8s;
          animation-name: slideInRight;
        "
    ><i class="fa fa-phone"></i></a
    ><a
      href="#"
      title="Email"
      class="wow slideInRight"
      data-wow-delay="2.1s"
      style="
          visibility: visible;
          animation-delay: 2.1s;
          animation-name: slideInRight;
        "
    ><i class="fa fa-envelope"></i></a
    ><a
      href="#"
      title="Youtube"
      class="wow slideInRight"
      data-wow-delay="2.4s"
      style="
          visibility: visible;
          animation-delay: 2.4s;
          animation-name: slideInRight;
        "
    ><i class="fab fa-youtube"></i
    ></a>
      <a href="#" title="Lên đầu trang" class="scroll-top"
      ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <!-- End: Contact fixed -->
  </div>
</template>
