<template>
  <div>
    <content-home-page />

    <slider-home-page />
    <!-- Start: Section 3 - News -->
    <div class="news-1">
      <div class="container">
        <div class="list-header">
          <h2
            class="list-title wow fadeIn"
            data-wow-duration="2s"
            style="
              visibility: visible;
              animation-duration: 2s;
              animation-name: fadeIn;
            "
          >
            <a
              href="https://hod.com.vn/tin-tuc.htm"
              title="Tin tức &amp; sự kiện"
              >Tin tức &amp; sự kiện</a
            >
          </h2>
        </div>
        <div
          class="list-body wow fadeInRightSmall"
          data-wow-duration="1.2s"
          style="
            visibility: visible;
            animation-duration: 1.2s;
            animation-name: fadeInRightSmall;
          "
        >
          <div class="sublist-header">
            <h3 class="sublist-title">
              <a href="https://hod.com.vn/tin-tuc.htm" title="Tin tức hoạt động"
                >Tin tức hoạt động</a
              >
            </h3>
          </div>
          <div class="sublist-body d-flex">
            <div class="sublist-left">
              <VueSlickCarousel v-bind="settings2">
                <news-card
                  :news-card="item"
                  v-for="(item, index) in newsCard"
                  :key="index"
                />
              </VueSlickCarousel>
            </div>
            <div class="sublist-right">
              <div
                class="item d-flex"
                v-for="(item, index) in newsCard.slice(0, 4)"
                :key="index"
              >
                <news-card-right :news-card="item" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: Section 3 - News -->
    <div class="library-1">
      <div class="container">
        <div class="list-header">
          <h2
            class="list-title wow fadeIn"
            data-wow-duration="2s"
            style="
              visibility: visible;
              animation-duration: 2s;
              animation-name: fadeIn;
            "
          >
            <a href="./pages/library.html" title="Thư viện cơ điện Hoàng Bình"
              >Thư viện cơ điện Hoàng Bình</a
            >
          </h2>
        </div>
        <div class="list-body d-flex">
          <div
            class="sublist-1 wow fadeInLeftSmall"
            data-wow-duration="1.2s"
            style="
              visibility: visible;
              animation-duration: 1.2s;
              animation-name: fadeInLeftSmall;
            "
          >
            <div class="sublist-header">
              <h3 class="sublist-title">
                <a href="./pages/library.html" title="Thư viện ảnh">
                  <svg viewBox="0 0 512 512">
                    <path
                      d="M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z"
                    ></path>
                  </svg>
                  Thư viện ảnh
                </a>
              </h3>
            </div>
            <div
              class="sublist-body slick-slider slick-initialized"
              data-slick='{"fade": true, "autoplay": true}'
            >
              <VueSlickCarousel v-bind="settings">
                <library-image-home-page-slider
                  :library-image="item"
                  v-for="(item, index) in libraryImage"
                  :key="index"
                />
              </VueSlickCarousel>
            </div>
          </div>
          <div
            class="sublist-2 wow fadeInRightSmall"
            data-wow-duration="1.2s"
            style="
              visibility: visible;
              animation-duration: 1.2s;
              animation-name: fadeInRightSmall;
            "
          >
            <div class="sublist-header">
              <h3 class="sublist-title">
                <a href="./pages/library.html" title="Thư viện video">
                  <svg viewBox="0 0 512 512">
                    <path
                      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"
                    ></path>
                  </svg>
                  Thư viện video
                </a>
              </h3>
            </div>

          <div class="sublist-body d-flex">
            <img alt="alo" src="@/assets/images/library_image2.jpg" class="" />
            <iframe
              src="https://www.youtube.com/embed/F3gyo22ej5U"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen=""
            ></iframe>
            <a aria-label="true" href="#" class="play">
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="80"
                height="80"
                fill="white"
                viewBox="0 0 379 379"
                style="enable-background: new 0 0 379 379"
                xml:space="preserve"
              >
                  <g>
                    <path
                      d="M323.5,55.5c-74-74-194-74-268,0s-74,194,0,268s194,74,268,0S397.5,129.5,323.5,55.5z M272.3,201.1l-59.2,34l-58,33.6
                   c-2,1.6-4.8,2.4-7.6,2.4c-7.6,0-13.6-6-13.6-13.6v-68v-68.4c0-2.4,0.4-4.4,1.6-6.8c3.6-6.4,12-8.8,18.4-4.8l58.4,33.6
                   c0.4,0,0.4,0.4,0.8,0.4l59.2,34c2,1.2,3.6,2.8,5.2,4.8C281.1,189.1,278.7,197.5,272.3,201.1z"
                    />
                  </g>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<!--<script src="@/assets/js/script.js">-->-->
<style scoped></style>
<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
// optional style for arrows & dots
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";
import SliderHomePage from "@/components/slider/SliderHomePage";
import ContentHomePage from "@/components/content/ContentHomePage";
import Background from "@/components/background/Background";
import SocialHome from "@/components/Social/SocialHome";
import LibraryImageHomePageSlider from "@/components/slider/LibraryImageHomePageSlider";
import { constants } from "@/constants";
import NewsCard from "@/components/card/NewsCard";
import ProjectCard from "@/components/card/ProjectCard";
import NewsCardRight from "@/components/card/NewsCardRight";

export default {
  name: "MyComponent",
  components: {
    ProjectCard,
    NewsCardRight,
    NewsCard,
    LibraryImageHomePageSlider,
    SocialHome,
    Background,
    ContentHomePage,
    SliderHomePage,
    VueSlickCarousel,
  },
  data() {
    return {
      newsCard: constants.newsCard,
      settings: {
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: "linear",
        arrows: false,
      },
      libraryImage: constants.libraryImage,
      settings2: {
        infinite: true,
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        cssEase: "linear",
        arrows: false,
      },
    };
  },
};
</script>
