<template>
  <!-- Start: Section 1 -->
  <section class="about-us">
    <div class="aboutus-1">
      <div class="container">
        <div class="list-header">
          <h2
            class="list-title wow fadeIn"
            data-wow-duration="2s"
            style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;"
          >
            <a href="#" title="Câu chuyện HOANG BINH"
              >Câu chuyện về HOÀNG BÌNH</a
            >
          </h2>
        </div>
        <div class="list-body d-flex">
          <div
            class="sublist-1 wow fadeInLeftSmall"
            data-wow-duration="1.2s"
            style="visibility: visible; animation-duration: 1.2s; animation-name: fadeInLeftSmall;"
          >
            <div class="imgc">
              <img alt="" src="@/assets/images/section1_1.jpg" class="" />
              <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/Tfn1FYA45_w"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
              <button
                onclick="playVideo(this, event)"
                class="play"
              >
                <img src="@/assets/images/play.png" alt="play" class="play-img" />
              </button>
            </div>
          </div>
          <div
            class="sublist-2 wow fadeInRightSmall"
            data-wow-delay=".5s"
            data-wow-duration="1.2s"
            style="visibility: visible; animation-duration: 1.2s; animation-delay: 0.5s; animation-name: fadeInRightSmall;"
          >
            <div class="imgc">
              <img
                alt="Câu chuyện HOANG BINH"
                class=""
                src="@/assets/images/time building.png"
              />
            </div>
            <div class="gt_home">
              <div
                class="text"
                style="
                    max-height: 155px;
                    overflow: hidden;
                    display: inline-block;
                  "
              >
                <div style="text-align: justify">
                  Trải qua quá trình phát triển trên cơ sở ổn định và tăng
                  trưởng bền vững, đến nay Công ty cổ phần Đầu tư Phát triển nhà
                  Constrexim đã khẳng định được uy tín và thương hiệu trên thị
                  trường bất động sản.&nbsp;<br />
                  <span style="color: #333"
                  ><strong
                  ><span class="font-weight-bold"
                  >VƯỢT KHÓ KHĂN</span
                  ></strong
                  ></span
                  ><br />
                  Tiền thân là Ban kinh doanh nhà được thành lập ngày
                  15/12/2000, sau đó là Trung tâm Đầu tư kinh doanh Phát triển
                  nhà (2002), Công ty kinh doanh phát triển nhà Constrexim
                  (năm 2004) - Công ty là doanh nghiệp Nhà nước thuộc Tổng
                  Công ty Đầu tư Xây dựng và Thương mại Việt Nam (Constrexim
                  Hodding) - Bộ Xây dựng. Ngày 01/02/2007, Công ty thực hiện
                  cổ phần hóa và chuyển sang quản lý, vận hành theo mô hình
                  Công ty cổ phần với tên gọi mới là Công ty Cổ phần Đầu tư
                  Phát triển nhà Constrexim viết tắt là&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >, những ngày đầu mới thành lập đơn vị còn gặp rất nhiều khó
                  khăn trên mọi phương diện: thiếu thốn về cơ sở vật chất,
                  thiếu cán bộ có chuyên môn nghiệp vụ. Trên thực tế, trong
                  những năm đầu các đơn vị thành viên của Tổng Công ty
                  Constrexim nói chung và&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;nói riêng, chưa đơn vị nào tham gia vào lĩnh vực đầu
                  tư kinh doanh nhà, bởi kinh doanh nhà là ngành mới và có
                  tính chất đặc thù của sự kết hợp đa ngành đa lĩnh vực, các
                  cán bộ hầu như chưa ai có kinh nghiệm và chưa ai được đào
                  tạo chuyên sâu theo chuyên ngành này. Tuy nhiên vì trách
                  nhiệm trước nhiệm vụ được giao vì tương lai phát triển của
                  đơn vị, tập thể cán bộ, nhân viên&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;đã cố gắng không quản khó khăn, vất vả, tận dụng cơ
                  hội vượt qua thách thức, đoàn kết đồng lòng, phấn đấu vươn
                  lên học hỏi và trao dồi tích lũy kinh nghiệm để thực hiện có
                  kết quả các dự án; đến nay mọi hoạt động của Công ty đã ổn
                  định, bộ máy tổ chức của Công ty đã được kiện
                  toàn.&nbsp;&nbsp;<br />
                  Sau hơn 13 năm tổ chức hoạt động theo mô hình Công ty cổ
                  phần đã đem lại cho đơn vị nhiều kinh nghiệm và bài học bổ
                  ích trên tất cả các phương diện từ tổ chức bộ máy nhân sự,
                  công tác quản trị doanh nghiệp, hoạt động tài chính, tổ chức
                  và quản lý đầu tư trực tiếp, lựa chọn giải pháp đầu tư, lựa
                  chọn sản phẩm và phân khúc thị trường…<br />
                  <span style="color: #333"
                  ><strong
                  ><span class="font-weight-bold"
                  >HƯỞNG TRÁI NGỌT</span
                  ></strong
                  ></span
                  ><br />
                  Bên cạnh đó, bằng những mối quan hệ được tạo dựng trên
                  thương trường và quyết tâm cao trong tổ chức thực hiện, Công
                  ty đã được các cấp ngành; các địa phương nơi đơn vị triển
                  khai thực hiện các dự án bất động sản hỗ trợ, tạo điều kiện
                  thuận lợi trong quá trình triển khai thực hiện và đặc biệt
                  là các đối tác, các khách hàng tin tưởng ủng hộ để các dự án
                  được thành công, đạt hiệu quả cả về kinh tế và xã hội.<br />
                  Sau hơn 13 năm hoạt động, Công ty đã thực hiện&nbsp; các dự
                  án lớn điển hình là: Dự án tổng kho tại huyện Đông Anh - TP.
                  Hà Nội với trên 20.000m2; Dự án đô thị mới khu dân cư Hồ Mật
                  Sơn, Trung tâm thương mại&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;tại thành phố Chí Linh - Hải Dương có tổng diện tích
                  trên 40 ha; Dự án Khu đô thị sinh thái Chí Linh có tổng diện
                  tích 120 ha; Dự án nhà ở tại 409 Tam Trinh, quận Hoàng Mai,
                  thành phố Hà Nội; Dự án tòa tháp đôi CT1 - CT2 (GREEN PARK)
                  tại phố Dương Đình Nghệ, quận Cầu Giấy, TP. Hà Nội cao 25 tầng
                  với gần 400 căn hộ chất lượng cao; Dự án tòa nhà Golden Park
                  phố Dương Đình Nghệ, quận Cầu Giấy, TP. Hà Nội cao 45 tầng với
                  gần 400 căn hộ và gần 300 căn hộ khách sạn đạt tiêu chuẩn 4
                  sao.v.v…
                </div>
                <div style="text-align: justify">
                  Tất cả các dự án đầu tư đều đạt được 04 mục tiêu lớn Công ty
                  đề ra:
                  <em
                    >An toàn về lao động; Bảo đảm chất lượng cao; Về trước tiến
                    độ; Hiệu quả về kinh tế và xã hội.</em
                  ><br />
                  <span style="color: #333"
                  ><strong
                  ><span class="font-weight-bold"
                  >ĐÓN TƯƠNG LAI</span
                  ></strong
                  ></span
                  ><br />
                  Có thể nói, việc đi trước đón đầu là một bí quyết cũng như
                  chiến lược kinh doanh luôn được&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;áp dụng cho tất cả các lĩnh vực, đặc biệt là mảng
                  kinh doanh bất động sản. Chính vì thế, hiện nay khi nhiều
                  doanh nghiệp bất động sản khác còn đang do dự trong các
                  quyết định đầu tư thì Công ty đã bắt tay ngay vào chuẩn bị
                  triển khai một số dự án lớn.<br />
                  Bí quyết “Chìa khóa của sự thành công” của&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;qua các dự án bất động sản có thể gói gọn như sau:
                  “Xóa bỏ tâm lý làm giả ăn thật” bằng việc tạo dựng uy tín và
                  niềm tin cho các đối tác và khách hàng qua các sản phẩm ra
                  thị trường là thực hiện đúng các cam kết:
                  <em>Chất lượng và tiến độ.</em><br />
                  Ngoài ra, với quan điểm muốn trở thành một Công ty mạnh có
                  uy tín và vị thế trên thị trường cần phải có bản sắc văn hóa
                  cho riêng mình và phải giữ được chữ tín với khách hàng, Công
                  ty đã chú trọng đến chất lượng nguồn nhân lực, ứng dụng khoa
                  học công nghệ tiên tiến trong sản xuất kinh doanh để nâng
                  cao chất lượng và hạ giá thành sản phẩm của các công trình.
                  Chính vì vậy trong những năm gần đây tên tuổi của Công
                  ty&nbsp;<span class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;luôn gắn chặt với các dự án, công trình và luôn được
                  khách hàng, người dân tín nhiệm.<br />
                  13 năm chưa phải là quãng thời gian dài đối với tuổi đời của
                  một doanh nghiệp, song những gì mà&nbsp;<span
                  class="font-weight-bold"
                >CONSTREXIM&nbsp;</span
                ><span class="font-weight-bold">-</span>&nbsp;<span
                  class="font-weight-bold"
                >HOD</span
                >&nbsp;có được đã không phụ sự nỗ lực không mệt mỏi của ban
                  lãnh đạo cùng hàng trăm cán bộ, công nhân viên của Công ty;
                  sự an tâm tin tưởng của khách hàng trong mỗi dự án, sản
                  phẩm, căn nhà chính là món quà vô giá đối với Công ty.<br />
                  &nbsp;
                </div>
              </div>
              <a
                class="btOpenClose"
                href="#"
                data-alt="Thu gọn"
                >Xem thêm</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End: Section 1 -->
</template>
