<template>
  <div>
    <!-- Start: Breadcrumb -->
    <div class="breadcrumb-wrap">
      <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item home">
            <a href="/" title="Trang chủ">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="#" title="Thư viện">Dự án</a>
          </li>
        </ol>
      </nav>
    </div>
    <!-- End: Breadcrumb -->
    <div class="project-2">
      <div class="container">
        <div class="list-header">
          <h2 class="list-title">
            Dự án đang triển khai
          </h2>
          <p class="list-text"></p>
        </div>
        <div class="list-body">
          <project-card
            :project="item"
            v-for="(item, index) in project"
            :key="index"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<style>
@import "~/assets/css/project.css";
</style>
<script>
import ProjectCard from "@/components/card/ProjectCard";
import { constants } from "@/constants";

export default {
  components: { ProjectCard },
  data() {
    return {
      project: constants.project
    };
  }
};
</script>