<template>
  <!-- Start: Background home page -->
  <div class="background">
      <img src="@/assets/images/home_background.jpg" alt="background" />
    </div>
  <!-- End: Background home -->
</template>
